---
import Head from '../components/Head.astro'
import { SITE } from '../consts'
import Base from '../layouts/Base.astro'
---

<Base>
  <Fragment slot="head">
    <Head pageTitle="Home" description={SITE.description} />
  </Fragment>
  <Fragment slot="body">
    <h1>Hello World</h1>
  </Fragment>
</Base>
