---
import { ClientRouter } from 'astro:transitions'
import { Font } from 'astro:assets'
import { SITE } from '../consts'

import HeaderWrapper from '../components/HeaderWrapper.astro'
import HeaderTitle from '../components/HeaderTitle.astro'
import HeaderNav from '../components/HeaderNav.astro'
import MainWrapper from '../components/MainWrapper.astro'
import FooterWrapper from '../components/FooterWrapper.astro'
import FooterCopyright from '../components/FooterCopyright.astro'
import FooterSocial from '../components/FooterSocial.astro'
---

<html lang={SITE.langCode} class="font-sans" data-theme="light">
  <head>
    <script src="../assets/scripts/switch-theme.ts"></script>
    <slot name="head" />
    <ClientRouter />
    <Font cssVariable="--font-sans" preload />
    <Font cssVariable="--font-poppins" preload />
    <Font cssVariable="--font-mono" />
  </head>
  <body>
    <HeaderWrapper>
      <HeaderTitle />
      <HeaderNav />
    </HeaderWrapper>
    <MainWrapper>
      <slot name="body" />
    </MainWrapper>
    <FooterWrapper>
      <FooterSocial />
      <FooterCopyright />
    </FooterWrapper>
  </body>
</html>
